{% extends "::base.html.twig" %}
{% block body %}
    Name: {{ contact.name }}
    <br>Description: {{ contact.description }}
    <br>{{ include(':phonenumber:show_all.html.twig', {'phoneNumbers': phoneNumbers}) }}
    <br>{{ include(':email:show_all.html.twig', {'emails': emails}) }}
    <br>{{ include(':address:show_all.html.twig', {'addresses': addresses}) }}
    <br><a href="{{ path('contactlist_phonenumber_form', {'id': contact.id}) }}">add phone number</a>
    <br><a href="{{ path('contactlist_email_form', {'id': contact.id}) }}">add email</a>
    <br><a href="{{ path('contactlist_address_form', {'id': contact.id}) }}">add new address</a>
    <br><a href="{{ path('contactlist_contact_showeditform', {'id': contact.id}) }}">edit</a>
    <a href="{{ path('contactlist_contact_showall') }}">list</a>
{% endblock %}