{% extends "::base.html.twig" %}
{% block title %}{{ contact.name }}{% endblock %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <p><h1>{{ contact.name }}<small> {{ contact.description }}</small><a href="{{ path('contactlist_contact_showeditform', {'id': contact.id}) }}" class="btn btn-primary btn-lg pull-right">edit</a></h1></p>
        </div>
        <div class="panel-body">
            <div class="panel panel-default">
                {{ include(':groups:list_groups.html.twig', {'groups': contact.groups}) }}
            </div>
            <div class="panel panel-default">
                {{ include(':phonenumber:show_all.html.twig', {'phoneNumbers': contact.phonenumbers}) }}
                <div class="panel-footer">
                    <a href="{{ path('contactlist_phonenumber_form', {'id': contact.id}) }}" class="btn btn-success btn-xs">+ number</a>
                </div>
            </div>
            <div class="panel panel-default">
                {{ include(':email:show_all.html.twig', {'emails': contact.emails}) }}
                <div class="panel-footer">
                    <a href="{{ path('contactlist_email_form', {'id': contact.id}) }}" class="btn btn-success btn-xs">+ email</a>
                </div>
            </div>
            <div class="panel panel-default">
                {{ include(':address:show_all.html.twig', {'addresses': contact.addresses}) }}
                <div class="panel-footer">
                    <a href="{{ path('contactlist_address_form', {'id': contact.id}) }}" class="btn btn-success btn-xs">+ address</a>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <a href="{{ path('contactlist_contact_showall') }}" class="btn btn-info btn-lg btn-block">back to list</a>
        </div>
    </div>
{% endblock %}